<div>
    collpased : {{ isItCollapsed() }}
</div>
<form class="container">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" [(ngModel)]="formDto.title">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Password:</label>
        <input type="text" class="form-control" id="body" placeholder="Enter body" name="pswd" [(ngModel)]="formDto.body">
    </div>
    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
    </div>
    <input type="file" (change)="handleFile($event)">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>